[submodule "ansible-opnsense-facts"]
	path = ansible-opnsense-facts
	url = https://github.com/Rosa-Luxemburgstiftung-Berlin/ansible-opnsense-facts.git
[submodule "ansible-opnsense-update"]
	path = ansible-opnsense-update
	url = https://github.com/Rosa-Luxemburgstiftung-Berlin/ansible-opnsense-update.git
	branch = v25.6.0
